#u0 {
  position:absolute;
  left:1px;
  top:495px;
  width:190px;
  height:325px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:325px;
}
#u1 {
  position:absolute;
  left:2px;
  top:154px;
  width:186px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:1px;
  top:1px;
  width:1378px;
  height:90px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1378px;
  height:90px;
}
#u3 {
  position:absolute;
  left:2px;
  top:37px;
  width:1374px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:997px;
  top:13px;
  width:105px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u6 {
  position:absolute;
  left:1293px;
  top:13px;
  width:53px;
  height:13px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u8 {
  position:absolute;
  left:1px;
  top:157px;
  width:190px;
  height:44px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:44px;
}
#u9 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:1px;
  top:205px;
  width:190px;
  height:44px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:44px;
}
#u11 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:1px;
  top:252px;
  width:190px;
  height:44px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:44px;
}
#u13 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1px;
  top:300px;
  width:190px;
  height:44px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:44px;
}
#u15 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:1px;
  top:347px;
  width:190px;
  height:44px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:44px;
}
#u17 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:201px;
  top:47px;
  width:120px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u19 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:761px;
  top:13px;
  width:144px;
  height:16px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:16px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:1px;
  top:396px;
  width:190px;
  height:44px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:44px;
}
#u23 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:1173px;
  top:13px;
  width:53px;
  height:13px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:13px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:1px;
  top:446px;
  width:190px;
  height:44px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:44px;
}
#u27 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:1px;
  top:107px;
  width:190px;
  height:44px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:44px;
}
#u29 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:1px;
  top:496px;
  width:190px;
  height:44px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:44px;
}
#u31 {
  position:absolute;
  left:2px;
  top:12px;
  width:186px;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:338px;
  top:47px;
  width:120px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u33 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:210px;
  top:231px;
  width:1185px;
  height:164px;
}
#u35 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:62px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:62px;
}
#u36 {
  position:absolute;
  left:2px;
  top:20px;
  width:35px;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:39px;
  top:0px;
  width:38px;
  height:62px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:62px;
}
#u38 {
  position:absolute;
  left:2px;
  top:20px;
  width:34px;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:77px;
  top:0px;
  width:99px;
  height:62px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:62px;
}
#u40 {
  position:absolute;
  left:2px;
  top:20px;
  width:95px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:176px;
  top:0px;
  width:82px;
  height:62px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:62px;
}
#u42 {
  position:absolute;
  left:2px;
  top:20px;
  width:78px;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:258px;
  top:0px;
  width:59px;
  height:62px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:62px;
}
#u44 {
  position:absolute;
  left:2px;
  top:20px;
  width:55px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:317px;
  top:0px;
  width:96px;
  height:62px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:62px;
}
#u46 {
  position:absolute;
  left:2px;
  top:20px;
  width:92px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:413px;
  top:0px;
  width:117px;
  height:62px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:62px;
}
#u48 {
  position:absolute;
  left:2px;
  top:20px;
  width:113px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:530px;
  top:0px;
  width:134px;
  height:62px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:62px;
}
#u50 {
  position:absolute;
  left:2px;
  top:20px;
  width:130px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:664px;
  top:0px;
  width:73px;
  height:62px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:62px;
}
#u52 {
  position:absolute;
  left:2px;
  top:20px;
  width:69px;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:737px;
  top:0px;
  width:94px;
  height:62px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u53_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:62px;
}
#u54 {
  position:absolute;
  left:2px;
  top:20px;
  width:90px;
  word-wrap:break-word;
}
#u55 {
  position:absolute;
  left:831px;
  top:0px;
  width:165px;
  height:62px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:62px;
}
#u56 {
  position:absolute;
  left:2px;
  top:20px;
  width:161px;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:996px;
  top:0px;
  width:184px;
  height:62px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
  text-align:center;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:62px;
}
#u58 {
  position:absolute;
  left:2px;
  top:20px;
  width:180px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:0px;
  top:62px;
  width:39px;
  height:34px;
  text-align:center;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u60 {
  position:absolute;
  left:2px;
  top:9px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:39px;
  top:62px;
  width:38px;
  height:34px;
  text-align:center;
}
#u61_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u62 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  word-wrap:break-word;
}
#u63 {
  position:absolute;
  left:77px;
  top:62px;
  width:99px;
  height:34px;
  text-align:center;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:34px;
}
#u64 {
  position:absolute;
  left:2px;
  top:9px;
  width:95px;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:176px;
  top:62px;
  width:82px;
  height:34px;
  text-align:center;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u66 {
  position:absolute;
  left:2px;
  top:9px;
  width:78px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:258px;
  top:62px;
  width:59px;
  height:34px;
  text-align:center;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:34px;
}
#u68 {
  position:absolute;
  left:2px;
  top:9px;
  width:55px;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:317px;
  top:62px;
  width:96px;
  height:34px;
  text-align:center;
}
#u69_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u70 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u71 {
  position:absolute;
  left:413px;
  top:62px;
  width:117px;
  height:34px;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u72 {
  position:absolute;
  left:2px;
  top:9px;
  width:113px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:530px;
  top:62px;
  width:134px;
  height:34px;
  text-align:center;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:34px;
}
#u74 {
  position:absolute;
  left:2px;
  top:9px;
  width:130px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:664px;
  top:62px;
  width:73px;
  height:34px;
  text-align:center;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
}
#u76 {
  position:absolute;
  left:2px;
  top:9px;
  width:69px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:737px;
  top:62px;
  width:94px;
  height:34px;
  text-align:center;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
}
#u78 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:831px;
  top:62px;
  width:165px;
  height:34px;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
}
#u80 {
  position:absolute;
  left:2px;
  top:9px;
  width:161px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:996px;
  top:62px;
  width:184px;
  height:34px;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:34px;
}
#u82 {
  position:absolute;
  left:2px;
  top:9px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83 {
  position:absolute;
  left:0px;
  top:96px;
  width:39px;
  height:34px;
  text-align:center;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:34px;
}
#u84 {
  position:absolute;
  left:2px;
  top:9px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85 {
  position:absolute;
  left:39px;
  top:96px;
  width:38px;
  height:34px;
  text-align:center;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:34px;
}
#u86 {
  position:absolute;
  left:2px;
  top:9px;
  width:34px;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:77px;
  top:96px;
  width:99px;
  height:34px;
  text-align:center;
}
#u87_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:34px;
}
#u88 {
  position:absolute;
  left:2px;
  top:9px;
  width:95px;
  word-wrap:break-word;
}
#u89 {
  position:absolute;
  left:176px;
  top:96px;
  width:82px;
  height:34px;
  text-align:center;
}
#u89_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:34px;
}
#u90 {
  position:absolute;
  left:2px;
  top:9px;
  width:78px;
  word-wrap:break-word;
}
#u91 {
  position:absolute;
  left:258px;
  top:96px;
  width:59px;
  height:34px;
  text-align:center;
}
#u91_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:34px;
}
#u92 {
  position:absolute;
  left:2px;
  top:9px;
  width:55px;
  word-wrap:break-word;
}
#u93 {
  position:absolute;
  left:317px;
  top:96px;
  width:96px;
  height:34px;
  text-align:center;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:34px;
}
#u94 {
  position:absolute;
  left:2px;
  top:9px;
  width:92px;
  word-wrap:break-word;
}
#u95 {
  position:absolute;
  left:413px;
  top:96px;
  width:117px;
  height:34px;
  text-align:center;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:34px;
}
#u96 {
  position:absolute;
  left:2px;
  top:9px;
  width:113px;
  word-wrap:break-word;
}
#u97 {
  position:absolute;
  left:530px;
  top:96px;
  width:134px;
  height:34px;
  text-align:center;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:34px;
}
#u98 {
  position:absolute;
  left:2px;
  top:9px;
  width:130px;
  word-wrap:break-word;
}
#u99 {
  position:absolute;
  left:664px;
  top:96px;
  width:73px;
  height:34px;
  text-align:center;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:34px;
}
#u100 {
  position:absolute;
  left:2px;
  top:9px;
  width:69px;
  word-wrap:break-word;
}
#u101 {
  position:absolute;
  left:737px;
  top:96px;
  width:94px;
  height:34px;
  text-align:center;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:34px;
}
#u102 {
  position:absolute;
  left:2px;
  top:9px;
  width:90px;
  word-wrap:break-word;
}
#u103 {
  position:absolute;
  left:831px;
  top:96px;
  width:165px;
  height:34px;
  text-align:center;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:34px;
}
#u104 {
  position:absolute;
  left:2px;
  top:9px;
  width:161px;
  word-wrap:break-word;
}
#u105 {
  position:absolute;
  left:996px;
  top:96px;
  width:184px;
  height:34px;
  text-align:center;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:34px;
}
#u106 {
  position:absolute;
  left:2px;
  top:9px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107 {
  position:absolute;
  left:0px;
  top:130px;
  width:39px;
  height:29px;
  text-align:center;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:29px;
}
#u108 {
  position:absolute;
  left:2px;
  top:6px;
  width:35px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109 {
  position:absolute;
  left:39px;
  top:130px;
  width:38px;
  height:29px;
  text-align:center;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:38px;
  height:29px;
}
#u110 {
  position:absolute;
  left:2px;
  top:6px;
  width:34px;
  word-wrap:break-word;
}
#u111 {
  position:absolute;
  left:77px;
  top:130px;
  width:99px;
  height:29px;
  text-align:center;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:29px;
}
#u112 {
  position:absolute;
  left:2px;
  top:6px;
  width:95px;
  word-wrap:break-word;
}
#u113 {
  position:absolute;
  left:176px;
  top:130px;
  width:82px;
  height:29px;
  text-align:center;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:82px;
  height:29px;
}
#u114 {
  position:absolute;
  left:2px;
  top:6px;
  width:78px;
  word-wrap:break-word;
}
#u115 {
  position:absolute;
  left:258px;
  top:130px;
  width:59px;
  height:29px;
  text-align:center;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:29px;
}
#u116 {
  position:absolute;
  left:2px;
  top:6px;
  width:55px;
  word-wrap:break-word;
}
#u117 {
  position:absolute;
  left:317px;
  top:130px;
  width:96px;
  height:29px;
  text-align:center;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:29px;
}
#u118 {
  position:absolute;
  left:2px;
  top:6px;
  width:92px;
  word-wrap:break-word;
}
#u119 {
  position:absolute;
  left:413px;
  top:130px;
  width:117px;
  height:29px;
  text-align:center;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:29px;
}
#u120 {
  position:absolute;
  left:2px;
  top:6px;
  width:113px;
  word-wrap:break-word;
}
#u121 {
  position:absolute;
  left:530px;
  top:130px;
  width:134px;
  height:29px;
  text-align:center;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:29px;
}
#u122 {
  position:absolute;
  left:2px;
  top:6px;
  width:130px;
  word-wrap:break-word;
}
#u123 {
  position:absolute;
  left:664px;
  top:130px;
  width:73px;
  height:29px;
  text-align:center;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:29px;
}
#u124 {
  position:absolute;
  left:2px;
  top:6px;
  width:69px;
  word-wrap:break-word;
}
#u125 {
  position:absolute;
  left:737px;
  top:130px;
  width:94px;
  height:29px;
  text-align:center;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:29px;
}
#u126 {
  position:absolute;
  left:2px;
  top:6px;
  width:90px;
  word-wrap:break-word;
}
#u127 {
  position:absolute;
  left:831px;
  top:130px;
  width:165px;
  height:29px;
  text-align:center;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:29px;
}
#u128 {
  position:absolute;
  left:2px;
  top:6px;
  width:161px;
  word-wrap:break-word;
}
#u129 {
  position:absolute;
  left:996px;
  top:130px;
  width:184px;
  height:29px;
  text-align:center;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:184px;
  height:29px;
}
#u130 {
  position:absolute;
  left:2px;
  top:6px;
  width:180px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131 {
  position:absolute;
  left:210px;
  top:109px;
  width:860px;
  height:91px;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:860px;
  height:91px;
}
#u132 {
  position:absolute;
  left:2px;
  top:38px;
  width:856px;
  visibility:hidden;
  word-wrap:break-word;
}
#u133 {
  position:absolute;
  left:488px;
  top:168px;
  width:70px;
  height:16px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u134 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u135 {
  position:absolute;
  left:556px;
  top:164px;
  width:145px;
  height:25px;
}
#u135_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u136 {
  position:absolute;
  left:749px;
  top:168px;
  width:92px;
  height:16px;
}
#u136_img {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  height:16px;
}
#u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:92px;
  word-wrap:break-word;
}
#u138 {
  position:absolute;
  left:226px;
  top:168px;
  width:70px;
  height:16px;
}
#u138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
}
#u139 {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  word-wrap:break-word;
}
#u140 {
  position:absolute;
  left:296px;
  top:164px;
  width:145px;
  height:25px;
}
#u140_input {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:25px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#CCCCCC;
  text-align:left;
}
#u141 {
  position:absolute;
  left:209px;
  top:108px;
  width:90px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:36px;
}
#u142 {
  position:absolute;
  left:2px;
  top:10px;
  width:86px;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:823px;
  top:164px;
  width:103px;
  height:22px;
}
#u143_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u143_input:disabled {
  color:grayText;
}
#u144 {
  position:absolute;
  left:934px;
  top:168px;
  width:24px;
  height:16px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
}
#u145 {
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  word-wrap:break-word;
}
#u146 {
  position:absolute;
  left:1080px;
  top:157px;
  width:60px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:41px;
}
#u147 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u148 {
  position:absolute;
  left:1149px;
  top:158px;
  width:60px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:41px;
}
#u149 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u150 {
  position:absolute;
  left:1219px;
  top:158px;
  width:60px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:41px;
}
#u151 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u152 {
  position:absolute;
  left:956px;
  top:164px;
  width:103px;
  height:22px;
}
#u152_input {
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
}
#u152_input:disabled {
  color:grayText;
}
#u153 {
  position:absolute;
  left:1211px;
  top:308px;
  width:27px;
  height:10px;
  color:#0000FF;
}
#u153_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
}
#u154 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u155 {
  position:absolute;
  left:1248px;
  top:308px;
  width:27px;
  height:10px;
  color:#FF0000;
}
#u155_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
}
#u156 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u157 {
  position:absolute;
  left:1291px;
  top:308px;
  width:27px;
  height:10px;
  color:#0000FF;
}
#u157_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
}
#u158 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u159 {
  position:absolute;
  left:1211px;
  top:338px;
  width:27px;
  height:10px;
  color:#0000FF;
}
#u159_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
}
#u160 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u161 {
  position:absolute;
  left:1248px;
  top:338px;
  width:27px;
  height:10px;
  color:#FF0000;
}
#u161_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
}
#u162 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u163 {
  position:absolute;
  left:1291px;
  top:340px;
  width:27px;
  height:10px;
  color:#0000FF;
}
#u163_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
}
#u164 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u165 {
  position:absolute;
  left:1212px;
  top:370px;
  width:27px;
  height:10px;
  color:#0000FF;
}
#u165_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
}
#u166 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u167 {
  position:absolute;
  left:1249px;
  top:370px;
  width:27px;
  height:10px;
  color:#FF0000;
}
#u167_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
}
#u168 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u169 {
  position:absolute;
  left:1291px;
  top:371px;
  width:27px;
  height:10px;
  color:#0000FF;
}
#u169_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:10px;
}
#u170 {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u171 {
  position:absolute;
  left:222px;
  top:305px;
  width:100px;
  height:16px;
}
#u172 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u171_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u173 {
  position:absolute;
  left:222px;
  top:337px;
  width:100px;
  height:16px;
}
#u174 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u173_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u175 {
  position:absolute;
  left:222px;
  top:368px;
  width:100px;
  height:16px;
}
#u176 {
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  visibility:hidden;
  word-wrap:break-word;
}
#u175_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u177 {
  position:absolute;
  left:210px;
  top:231px;
  width:1180px;
  height:524px;
  overflow:hidden;
  visibility:hidden;
}
#u177_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:524px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u177_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u178 {
  position:absolute;
  left:2px;
  top:2px;
  width:1168px;
  height:519px;
}
#u178_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:519px;
}
#u179 {
  position:absolute;
  left:2px;
  top:252px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u180 {
  position:absolute;
  left:131px;
  top:64px;
  width:719px;
  height:346px;
}
#u180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:346px;
}
#u181 {
  position:absolute;
  left:2px;
  top:165px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u182 {
  position:absolute;
  left:0px;
  top:-36px;
  width:217px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u182_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:36px;
}
#u183 {
  position:absolute;
  left:2px;
  top:10px;
  width:213px;
  word-wrap:break-word;
}
#u184 {
  position:absolute;
  left:580px;
  top:0px;
  width:120px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u185 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u186 {
  position:absolute;
  left:164px;
  top:130px;
  width:136px;
  height:16px;
}
#u186_img {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:16px;
}
#u187 {
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  white-space:nowrap;
}
#u188 {
  position:absolute;
  left:434px;
  top:130px;
  width:105px;
  height:15px;
}
#u188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
}
#u189 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u190 {
  position:absolute;
  left:164px;
  top:170px;
  width:53px;
  height:15px;
}
#u190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:15px;
}
#u191 {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  white-space:nowrap;
}
#u192 {
  position:absolute;
  left:164px;
  top:265px;
  width:105px;
  height:15px;
}
#u192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:15px;
}
#u193 {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  white-space:nowrap;
}
#u194 {
  position:absolute;
  left:164px;
  top:217px;
  width:287px;
  height:16px;
}
#u194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  height:16px;
}
#u195 {
  position:absolute;
  left:0px;
  top:0px;
  width:287px;
  white-space:nowrap;
}
#u196 {
  position:absolute;
  left:286px;
  top:170px;
  width:50px;
  height:15px;
}
#u196_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:15px;
}
#u197 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u198 {
  position:absolute;
  left:434px;
  top:170px;
  width:104px;
  height:15px;
}
#u198_img {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:15px;
}
#u199 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  white-space:nowrap;
}
#u200 {
  position:absolute;
  left:164px;
  top:317px;
  width:79px;
  height:15px;
}
#u200_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:15px;
}
#u201 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u202 {
  position:absolute;
  left:210px;
  top:231px;
  width:1180px;
  height:523px;
  overflow:hidden;
  visibility:hidden;
}
#u202_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:523px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u202_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u203 {
  position:absolute;
  left:2px;
  top:2px;
  width:1168px;
  height:518px;
}
#u203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:518px;
}
#u204 {
  position:absolute;
  left:2px;
  top:251px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u205 {
  position:absolute;
  left:227px;
  top:84px;
  width:719px;
  height:346px;
}
#u205_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:346px;
}
#u206 {
  position:absolute;
  left:2px;
  top:165px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u207 {
  position:absolute;
  left:252px;
  top:138px;
  width:129px;
  height:16px;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
}
#u208 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u209 {
  position:absolute;
  left:0px;
  top:-36px;
  width:217px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u209_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:36px;
}
#u210 {
  position:absolute;
  left:2px;
  top:10px;
  width:213px;
  word-wrap:break-word;
}
#u211 {
  position:absolute;
  left:386px;
  top:236px;
  width:120px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u211_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u212 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u213 {
  position:absolute;
  left:116px;
  top:236px;
  width:120px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u213_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u214 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u202_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:1180px;
  height:523px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u202_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u215 {
  position:absolute;
  left:2px;
  top:2px;
  width:1168px;
  height:518px;
}
#u215_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1168px;
  height:518px;
}
#u216 {
  position:absolute;
  left:2px;
  top:251px;
  width:1164px;
  visibility:hidden;
  word-wrap:break-word;
}
#u217 {
  position:absolute;
  left:227px;
  top:84px;
  width:719px;
  height:346px;
}
#u217_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:346px;
}
#u218 {
  position:absolute;
  left:2px;
  top:165px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u219 {
  position:absolute;
  left:90px;
  top:138px;
  width:423px;
  height:30px;
  font-size:16px;
  color:#000000;
  text-align:center;
}
#u219_img {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  height:30px;
}
#u220 {
  position:absolute;
  left:0px;
  top:0px;
  width:423px;
  white-space:nowrap;
}
#u221 {
  position:absolute;
  left:0px;
  top:-36px;
  width:217px;
  height:36px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u221_img {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:36px;
}
#u222 {
  position:absolute;
  left:2px;
  top:10px;
  width:213px;
  word-wrap:break-word;
}
#u223 {
  position:absolute;
  left:386px;
  top:236px;
  width:120px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u223_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u224 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u225 {
  position:absolute;
  left:116px;
  top:236px;
  width:120px;
  height:44px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u225_img {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:44px;
}
#u226 {
  position:absolute;
  left:2px;
  top:14px;
  width:116px;
  word-wrap:break-word;
}
#u227 {
  position:absolute;
  left:0px;
  top:540px;
  width:190px;
  height:36px;
  color:#EE5F45;
}
#u227_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u228 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u229 {
  position:absolute;
  left:0px;
  top:577px;
  width:190px;
  height:36px;
  color:#666666;
}
#u229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u230 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u231 {
  position:absolute;
  left:0px;
  top:614px;
  width:190px;
  height:36px;
  color:#666666;
}
#u231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u232 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u233 {
  position:absolute;
  left:0px;
  top:650px;
  width:190px;
  height:36px;
  color:#666666;
}
#u233_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u234 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u235 {
  position:absolute;
  left:0px;
  top:687px;
  width:190px;
  height:36px;
  color:#666666;
}
#u235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u236 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u237 {
  position:absolute;
  left:0px;
  top:724px;
  width:190px;
  height:36px;
  color:#666666;
}
#u237_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u238 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u239 {
  position:absolute;
  left:0px;
  top:761px;
  width:190px;
  height:36px;
  color:#666666;
}
#u239_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u240 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u241 {
  position:absolute;
  left:0px;
  top:539px;
  width:5px;
  height:38px;
  font-family:'Î¢ÈíÑÅºÚ Bold', 'Î¢ÈíÑÅºÚ';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:38px;
}
#u242 {
  position:absolute;
  left:2px;
  top:11px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u243 {
  position:absolute;
  left:1334px;
  top:307px;
  width:62px;
  height:16px;
  color:#0000FF;
}
#u243_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u244 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u245 {
  position:absolute;
  left:1295px;
  top:158px;
  width:60px;
  height:41px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u245_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:41px;
}
#u246 {
  position:absolute;
  left:2px;
  top:12px;
  width:56px;
  word-wrap:break-word;
}
#u247 {
  position:absolute;
  left:0px;
  top:798px;
  width:190px;
  height:36px;
  color:#EE5F45;
}
#u247_img {
  position:absolute;
  left:0px;
  top:0px;
  width:190px;
  height:36px;
}
#u248 {
  position:absolute;
  left:2px;
  top:10px;
  width:186px;
  word-wrap:break-word;
}
#u249 {
  position:absolute;
  left:1334px;
  top:340px;
  width:62px;
  height:16px;
  color:#0000FF;
}
#u249_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u250 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
#u251 {
  position:absolute;
  left:1332px;
  top:370px;
  width:62px;
  height:16px;
  color:#0000FF;
}
#u251_img {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  height:16px;
}
#u252 {
  position:absolute;
  left:0px;
  top:0px;
  width:62px;
  word-wrap:break-word;
}
